body{
  font-size: 16px;
  background-color: #FCF0EB;
  font-family: 'Maven Pro', sans-serif;
}
nav{
  border-bottom:1px lightgray solid;
}
.navbar{
  position: fixed;
  width: 100%;
  z-index: 3;
  background-color: #fef0ea;
}
.navbar-brand{
  border: 1px solid #495057;
  padding: 0 .6rem;
  width:5.5%;
  overflow:hidden;
}
.navbar-brand .row{
  height: .6rem;
  margin-right:1rem;
  opacity: .7;
  visibility:hidden;
}
#logo-text{
  position: absolute;
  color:#495057;
  margin: 1.1% 0;
  z-index: 2;
  font-size:1.5rem;
}
.logo-holder{
   width: 7rem;
}
#darkblue{
  background:darkblue;
}
#blue{
  background:blue;
}
#lightblue{
  background:lightblue;
}
#purple{
  background:purple;
}
#lightred{
  background:pink;
}
#red{
  background:red;
}
#darkred{
  background:darkred;
}
.nav-link:hover{
  color:#6700FF;
}
.active{
  text-decoration:underline;
}
/* NAV - ACCOUNT */
.dropdown-menu{
  min-width: 15rem;
}
#form-item{
  margin:4% auto 6%;
  padding:0;
}
.form-btns{
  display:flex;
  justify-content:center;
}
.form-btn{
  height:2rem;
  font-size:.8rem;
  margin: 0 6%
}
/*NAV - SAVED ARTICLES*/
.saved-caret::after{
  display:none;
}
#saved-article-note{
    display: flex;
    margin: .5rem;
    text-align: center;
}
.header {
  padding-top: 10%;
}
/* HEADER */
.header.row{
 margin:0;
}
.desk-logo{
  font-size:7rem;
}
#filtercol{
 color: #101493;
}
.filter-box{
  height: 8.5rem;
}
.filter-box ul{
  list-style:none;
}
.mobile-filters{
  display:none;
}
/* CHECKBOXES */
input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label {
/*     color:#101493; */
}

input[type="checkbox"] + label span {
    display:inline-block;
    width: 30px;
    height: 30px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:transparent;
    border:1px solid #101493;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:#101493;
}
/* FADE BOX OPTIONS */
.fade-box{
  border:1px #343436 solid;
}
.fade-box-mobile{
  display:none;
}
.instructions-line{
  display: none;
}
/* BIAS Lines */
.bias{
  writing-mode: vertical-rl;
  text-orientation: sideways;
  padding-bottom: 13%;
  color: #101493;
  font-size: .9rem;
}
.bias-lib{
  transform: rotate(180deg);
}
.bias-con{
  padding-bottom:23%;
}
.fade-check{
  height: 2.5rem;
  margin: 1.5px;
  padding:0;
}
.fade-check button{
  border:none;
  width:100%;
  height: 2.5rem;

}

 button.is-checked:focus {
  border: 3px solid gold;
  outline: none;
}
/* FADE COLORS */
#red1 {
  background: magenta;
  color: magenta;
}
#red2 {
  background: red;
  color:red;
}
#red3 {
  background: darkred;
  color: darkred;
}
#red4 {
  background: #5E161E;
  color: #5E161E;
}

#purple1 {
  background: purple;
  color: purple;
}

#blue1 {
  background: lightblue;
  color: lightblue;
}
#blue2 {
  background: #6E00ED;
  color: #6E00ED;
}
#blue3 {
  background: blue;
  color: blue;
}
#blue4 {
  background: #22008D;
  color: #22008D;
}
/* SORT BUTTON */
.sort-btn {
  width: 30%;
  margin: 2.5rem auto;
  font-size:1.3rem;
}
/* MAIN SECTION */
#main {
  display:flex;
  flex-wrap:wrap;
}
.grid {
  border: 1px solid #333;
  padding:0;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.element-item {
  height: 15rem;
  border:black 1px solid;
  color: white;
  padding: 1rem;
}

.element-item > * {
  margin: 0;
  padding: 0;
}

.element-item .name {
  position: absolute;

  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
}

.element-item .symbol {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 42px;
  font-weight: bold;
  color: white;
}

.element-item .number {
  position: absolute;
  right: 8px;
  top: 5px;
}

.element-item .weight {
  position: absolute;
  left: 10px;
  top: 76px;
  font-size: 12px;
}
.element-item.red4{
  background: linear-gradient(rgb(101, 44, 102,0.6), rgb(101, 44, 102,0.6)), url(http://media.breitbart.com/media/2018/06/hillary-clinton-harass-women-in-government-640x480.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#red4Link{
  /* background: linear-gradient(rgb(101, 44, 102,0.6), rgb(101, 44, 102,0.6)), url(http://media.breitbart.com/media/2018/06/hillary-clinton-harass-women-in-government-640x480.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
}
#red4Link2{
  background: linear-gradient(rgb(101, 44, 102,0.6), rgb(101, 44, 102,0.6)), url(https://www.theblaze.com/wp-content/uploads/2018/06/lena-epstein-1280x720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#red3Link{
  background: linear-gradient(rgb(153, 0, 0,0.6), rgb(153, 0, 0,0.6)), url(http://thefederalist.com/wp-content/uploads/2018/06/maxresdefault-e1530285062146-998x674.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#red2Link{
  background: linear-gradient(rgb(255, 0, 0,0.6), rgb(255, 0, 0,0.6)), url(https://i1.wp.com/www.nationalreview.com/wp-content/uploads/2018/06/Bernie.jpg?resize=789%2C460&ssl=1);
  background-repeat: no-repeat;
  background-size: cover;
}
#red1Link{
  background: linear-gradient(rgb(255, 0, 253,0.6), rgb(255, 0, 253,0.6)), url(http://a57.foxnews.com/images.foxnews.com/content/fox-news/politics/2018/06/27/who-are-supreme-court-justices/_jcr_content/par/featured_image/media-0.img.jpg/931/524/1530130644614.jpg?ve=1&tl=1&text=big-top-image);
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}
#red1Link2{
  background: linear-gradient(rgb(255, 0, 253,0.6), rgb(255, 0, 253,0.6)), url(http://thehill.com/sites/default/files/styles/thumb_opinion/public/wraychristopher_rosensteinrod_062818am2_lead.jpg?itok=Bpp-29LW);
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}
#purpleLink{
  background: linear-gradient(rgb(101, 44, 102,0.6), rgb(101, 44, 102,0.6)), url(https://d3i6fh83elv35t.cloudfront.net/static/2018/06/2018-06-25T174947Z_1601587912_RC17DCB20870_RTRMADP_3_USA-IMMIGRATION-1200x800.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#purpleLink2{
  background: linear-gradient(rgb(101, 44, 102,0.6), rgb(101, 44, 102,0.6)), url(https://storage.googleapis.com/afs-prod/media/media:14afe2a0f1f841e2bc4953c4f9ace098/800.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
#purpleLink3{
  background: linear-gradient(rgb(101, 44, 102,0.6), rgb(101, 44, 102,0.6)), url(https://assets.bwbx.io/images/users/iqjWHBFdfxIU/iL5mesv1yD80/v0/800x600.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#purpleLink4{
  background: linear-gradient(rgb(101, 44, 102,0.6), rgb(101, 44, 102,0.6)), url(https://static.reuters.com/resources/media/global/assets/images/20180629/20180629_1980100120180629161104.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#purpleLink5{
  background: linear-gradient(rgb(101, 44, 102,0.6), rgb(101, 44, 102,0.6)), url(https://si.wsj.net/public/resources/images/BN-UM984_3acGN_OR_20170801104007.jpg?width=620&height=425);
  background-repeat: no-repeat;
  background-size: cover;
}
#blue1Link{
  background: linear-gradient(rgb(162, 218, 232,0.7), rgb(162, 218, 232,0.7)), url(https://static01.nyt.com/images/2018/06/29/us/politics/29DC-KENNEDY-01sub/merlin_120654635_569112a2-5676-496c-8084-35278df52fad-jumbo.jpg?quality=90&auto=webp);
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}
#blue1Link2{
  background: linear-gradient(rgb(162, 218, 232,0.6), rgb(162, 218, 232,0.6)), url(https://images.axios.com/mO6jKzkOjrfvosfPpnCraIUaWmA=/0x0:1920x1080/1920x1080/2018/06/29/1530289412313.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}
#blue1Link3{
  background: linear-gradient(rgb(162, 218, 232,0.6), rgb(162, 218, 232,0.6)), url(https://media.npr.org/assets/img/2018/06/28/gettyimages-869498942-1-_wide-e8cff0d9c5cdf6514116777bdcd1b775863e9183-s800-c85.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}
#blue2Link{
  background: linear-gradient(rgb(79, 13, 221,0.6), rgb(79, 13, 221,0.6)), url(https://img.buzzfeed.com/buzzfeed-static/static/2018-06/28/16/asset/buzzfeed-prod-web-06/sub-buzz-26363-1530216714-1.jpg?downsize=715:*&output-format=auto&output-quality=auto);
  background-repeat: no-repeat;
  background-size: cover;

}
#blue2Link2{
  background: linear-gradient(rgb(79, 13, 221,0.6), rgb(79, 13, 221,0.6)), url(https://thumbs.mic.com/MmIyNDU4Yzc3NSMvSWhlMVREWmF6NmdiejAxV0I2eWpxSHNqSGVJPS8weDE2OTo0NTAweDI3MDAvODAweDQ1MC9maWx0ZXJzOmZvcm1hdChqcGVnKTpxdWFsaXR5KDgwKS9odHRwczovL3MzLmFtYXpvbmF3cy5jb20vcG9saWN5bWljLWltYWdlcy93a3psZnc5OWphY2hvaG1lN2Q0ejB6bWI0ZTdicXY0NGRkYzI5MTM1bzdkeGthcG16eHh2bmtodDV3emZieWV2LmpwZw.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}
#blue3Link{
  background: linear-gradient(rgb(93, 22, 247,0.6), rgb(93, 22, 247,0.6)), url(https://theintercept.imgix.net/wp-uploads/sites/1/2018/06/ftc-feature-1530129836.jpg?auto=compress%2Cformat&q=90&fit=crop&w=1440&h=720);
  background-repeat: no-repeat;
  background-size: cover;
}
#blue4Link{
  background: linear-gradient(rgb(42, 1, 114,0.6), rgb(42, 1, 114,0.6)), url(https://www.motherjones.com/wp-content/uploads/2018/06/20180628-kavanaugh.jpg?w=990);
  background-repeat: no-repeat;
  background-size: cover;
}

.element-item.is-filtered-out { opacity: 0.2 }

.subline{
  background: black;
  margin-top:2rem;
}

/* EMAIL LINE */
.holder{
  margin-top:3%;
  z-index:2;
  position: absolute;
  display:inline-flex;
  width:100%;
}
.emailer{
  border:3px solid black;
}
.emailer span{
  font-size:1.8rem;
}
.form-control {
    background: transparent;
    border: none;
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid black;
    border-radius: 0;
}
.form-control:focus{
  background:transparent;
  box-shadow: none;
}
::-webkit-input-placeholder { color: #666;}
:-moz-placeholder { color: #666; }
::-moz-placeholder { color: #666; }
:-ms-input-placeholder { color: #666; }
#email-button{
    border:3px solid black;
    background:none;
    height: 7rem;
    width: 5rem;
  }
#email-button:hover{
    background-color:lightgray;
}
.btn .fa{
  font-size: 5.5rem;
}
.background-div{
  height: 12rem;
  margin: 0;
}
.form-control:after{
  background:none;
}
.background-div-lightblue{
  background: #4600FF;
  opacity:.6;
}
.background-div-purple{
  background: #4F00CF;
  opacity:.6;
}
.background-div-magenta{
  background: #90007F;
  opacity:.6;
}
.background-div-peach{
  background: #C50044;
  opacity:.6;
}
.background-div-red{
  background: #FC0000;
  opacity:.6;
}
/* FOOTER  */
.footer-logo h2 {
    font-size:3.7rem;
}
.footer-logo .row{
  justify-content: center;
}
.footer-links {
  margin: 0;
}
.contact-ads {
  list-style:none;
  display:inline-flex;
  color: #073791;
  }
.contact-ads a{
  font-size:1rem;
  margin: 0 1rem;
  color: #073791;
}
.contact-ads li:first-child {
  border-right:1px solid #073791;
}
.footer-head {
    font-size: 1.5rem;
    color: #073791;
    border-bottom: 1px solid;
    border-radius: 0;
  }
  .footer-links a {
    font-size: 1.1rem;
    color: #6c757d;
}
.footer-copyright span{
  color:#073791;
}
.ball{
  background-image:url("../resources/images/OvalShadesLogo.png") ;
  height: 3.2rem;
  width: 3.2rem;
  margin: .2rem .2rem;
}
.ball1{
  transform: rotate(90deg);
}
.ball2{
  transform: rotate(180deg);
}
.ball3{
  transform: rotate(0deg);
}
.ball4{
  transform: rotate(270deg);
}

.footer-copyright-row{
    border-top: 1px lightgray solid;
  }
/* MOBILE */
@media only screen and (min-width:360px) and (max-width:420px) {
  body{
    font-size: 16px;
    background-color: #FCF0EB;
    font-family: 'Maven Pro', sans-serif;
  }
  .navbar{
    height: 3.5rem;
    padding:0 0 1%;
  }
  .navbar button{
    margin-left: 3%;
    margin-top: 2%;
  }
  .navbar button:hover { outline: 0 !important }
  .logo-row{
    display: none;;
  }
  .navbar-brand{
    width: 22.5%;
    padding:0;
  }
  .logo-holder{
     width: 100%;
    justify-content: center;
    display: flex;
    padding: 0;
  }
  #logo-text{
    position: relative;
    border:none;
  }
  .navbar-nav{
    padding-left: 2%;
  }
  .header{
    padding-top: 15%;
    margin-bottom: 0;
  }
  #login{
    font-size:1.3rem;
    font-weight:50;
  }
  .header h1 {
    font-size:3.5rem;
    margin:2.5rem 0 0;
    font-weight: 800;
  }

  .button-group{
    width:100%;
  }
/*  SLIDER METER + SORT BUTTON - NOT IN USE  */
  .mobile-sort-btn {
    width: 40%;
    margin: 1.5rem auto;
  }
  .row{
    margin: 0;
  }
  .mobile-filters{
    display:inline-flex;
    justify-content: space-around;
    width: 100%;
    padding:0;
  }
  .desktop-filters{
    display:none;
  }
  input {

   outline:none;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 3.5rem;
    width: 1.5rem;
    background: gold;
    cursor: pointer;
    margin-top: -12px;
    margin-bottom: 15px;
  }
  .bias{
    display: none;
  }
  #instructions-line-2 {
    font-size: 1rem;
    z-index: 1;
    margin: 1rem auto;
    color: #290095;
}

  #instructions-line-2:before {
    border-bottom: 2px solid #290095;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    width: 95%;
    z-index: -1;
  }

  #instructions-line-2 span {
      /* to hide the lines from behind the text, you have to set the background color the same as the container */
      background: #FEF0EB;
      padding: 0 15px;
  }

  #instructions-line {
    font-size: 1rem;
    z-index: 1;
    margin: 1rem auto;
    color: #290095;
}

  #instructions-line:before {
    border-bottom: 2px solid #290095;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 81px;
    width: 95%;
    z-index: -1;
  }

  #instructions-line span {
      /* to hide the lines from behind the text, you have to set the background color the same as the container */
      background: #FEF0EB;
      padding: 0 15px;
  }

/*  FADE BOX METER  */
  .fade-box-mobile{
    display:flex;
  }
  .filter-box{
    height: 4rem;
    width: 100%;
  }
  .filter-box .row{
    justify-content:center;
  }
  .fade-box{
    display:none;
  }
  .fade-box-mobile{
  margin:0;

  }
  .fade-check{
    margin:0;
    border:none;
    height: 3.5rem;
}
  /* .fade-check button:hover { outline: 2px gold solid } */


  .fade-check button{
    height:3.5rem;
    padding:0;
  }
  /*MAIN*/
  #main {
      border: 1px solid #000000;
      display: flex;
      flex-direction: column;
      z-index:1;
  }

  .subline{
    background: black;
    margin-top:2rem;
  }
  .email-line{
    display:none;
  }

  /* Footer */
  .footer-content{
    padding: 4% 0 3%;
  }
  .ball{
    display: none;
  }
  .right-foot-box {
    padding-left: 0;
  }
  .contact-ads {
    list-style: none;
      display: inline-flex;
      margin: 0;
      padding: 0;
    }
  .contact-ads a {
    font-size:.75rem;
  }

  .footer-logo h2 {
    font-size:2.7rem;
}
  .footer-copyright{
    width: 100%;
    margin: 0;
    height: 50px;

  }
  .footer-copyright span{
    font-size: .75rem;
  }
  .footer-links {
    padding-left: 15%;
  }
  .footer-links a{
    color: #34353F;
    font-size:.8rem;
  }
}
